<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alunos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function confirmarExclusao(alunoId) {
            if (confirm("VocÊ tem certeza que deseja exluir este aluno?")) {
                window.location.href = "/aluno/excluir/" + alunoId;
            }
        }
    </script>
</head>
<body>
<div class="flex flex-col gap-4 p-4">
    <h1 class="font-bold text-2xl">Alunos</h1>
    <div class="flex gap-4">
        <form method="post" action="/aluno/pesquisar" th:object="${request}" class="flex gap-4 w-full">
            <input th:field="*{filtro}" class="border-2 py-2 px-4 w-full" placeholder="Pesquisar" />
            <button class="bg-indigo-900 w-28">
                <div class="flex justify-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                    </svg>
                </div>
            </button>
        </form>
        <button class="bg-indigo-900 w-28">
            <div class="flex justify-center">
                <a href="/aluno/form">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </a>
            </div>
        </button>
    </div>
    <table class="w-full">
        <tr class="bg-indigo-900 text-white">
            <td class="p-2">Código</td>
            <td>Nome</td>
            <td>Email</td>
            <td>Celular</td>
            <td></td>
        </tr>
        <tr class="border-b-2" th:each="aluno: ${alunos}">
            <td class="p-2"><span th:text="${aluno.alunoId}"></span></td>
            <td><span th:text="${aluno.nome}"></span></td>
            <td><span th:text="${aluno.email}"></span></td>
            <td><span th:text="${aluno.celular}"></span></td>
            <td>
                <div class="flex cursor-pointer">
                    <a th:href="@{/aluno/editar/{id}(id=${aluno.alunoId})}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                    </a>
                    <a href="#" th:onclick="'javascript:confirmarExclusao(' + ${aluno.alunoId} + ');'">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
